/*
  title: grid css
  author: maximilian schoening (@resetability)
*/

.container {
  padding: 0 20px;
}

.row {
  margin: 0 auto;
  max-width: 1140px;
  overflow: hidden; /* find a better way to clear floats */
  width: 100%;
}

/* section: 1140
---------------------------------------------- */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  float: left;
  margin: 0 3.8% 0 0;
}

.onecol {
  width: 4.85%;
}

.twocol {
  width: 13.5%;
}

.threecol {
  width: 22.15%;
}

.fourcol {
  width: 30.8%;
}

.fivecol {
  width: 39.45%;
}

.sixcol {
  width: 48.1%;
}

.sevencol {
  width: 56.75%;
}

.eightcol {
  width: 61.6%;
}

.ninecol {
  width: 74.05%;
}

.tencol {
  width: 82.7%;
}

.elevencol {
  width: 91.35%;
}

.twelvecol {
  width: 100%;
}
/* ------------------------------------------- */

/* section: < 1024
---------------------------------------------- */
@media only screen and (max-width: 1024px) {
  font-size: 0.8em;
  line-height: 1.5em;
}
/* ------------------------------------------- */
