---
layout: base
sidebar_cats:
- basics
- wrapper
- account
- items
- gift_cards
- mac
---

<section class="row" id="quicknav">
  <select class="col col_12">
    <option value="/" {% unless page.title %}selected{% endunless %}>Welcome</option>

    {% for cat in (page.sidebar_cats) %}
      <optgroup label="{{ cat | replace:'_',' ' | capitalize }}">
        {% for post in site.posts reversed %}
          {% if post.categories contains cat %}
            <option value="{{ post.url }}" {% if page.title == post.title %}selected{% endif %}>{{ post.title }}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
    {% endfor %}
  </select>
</section>

<div class="row">
  <section class="col col_8 wikistyle">
    {{ content }}
  </section>

  <aside class="col col_4" id="sidebar">
    {% for cat in (page.sidebar_cats) %}
      <section class="categories">
        <h3>{{ cat | replace:'_',' ' | capitalize }}</h3>

        <ul>
          {% for post in site.posts reversed %}
            {% if post.categories contains cat %}
              {% if page.title == post.title %}
                <li>{{ page.title }}</li>
              {% else %}
                <li><a href="{{ post.url }}" id="{{ cat }}">{{ post.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </aside>
</div>
